# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# SEO
NEXT_PUBLIC_SITE_NAME=Montessori Bahasa
NEXT_PUBLIC_SITE_DESCRIPTION=Platform pembelajaran Montessori Bahasa
